<div class="row">
    <h1>Proyectos Realizados </h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
          <h1> Primer Proyecto:</h1> 
          <h2>"Portafolio Web"</h2>
          <p>Lorem ipsum dolor sit amet consectetur 
           adipisicing elit. Odio ipsam maiores aut
           excepturi blanditiis et quis soluta nemo
           officia nisi, dolorum quae obcaecati 
           delectus quod quaerat dolorem,voluptates 
           ut repudiandae!</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3  offset-md-1 offset-lg-1 parte2">
           <img src="../../../assets/imagenes/captura(12).png" class="img-fluid img-estaimagen">
        </div>
    </div>

</div>
