<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/imagenes/fotomia.jpg" 
        class= "img-fluid" id="fotoper">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre"> {{persona.nombre}} {{persona.apellido}}</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de Mi</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Nesciunt veniam consequuntur magni fugiat,
                 a distinctio sed nam quis dolorum culpa libero 
                 enim placeat esse cum itaque neque, velit maxime numquam.
            </p>
        </span>
    </div>
</div>
