.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.redessociales{
    margin-right: 0.8em;
}
#Arglogo{
    width: 150px;
}
img{
    width: 50px;
}
.btn{
    border-width: medium;
}
/*........para la vista de celular.....*/

@media (max-width: 575px){
    .container{
        flex-direction:column;
    }
    .redessociales{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .redessociales img{
        margin: 0.5em;
    
    }
}