<div class="row">
    <h1> Experiencia Laboral </h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Trabajo 1 <small> years o resumen </small></h1> </li>
            <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Harum, consequuntur accusamus fugiat sapiente, nam numquam
                blanditiis officiis suscipit deserunt sunt at praesentium 
                ipsam excepturi porro. Dolore, ipsa incidunt. Totam, architecto?
            </p>
        </ul>
        <ul>
            <li>
                <h1>Trabajo 2</h1> -<h3> year o resumen </h3> </li>
            <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Harum, consequuntur accusamus fugiat sapiente, nam numquam
                blanditiis officiis suscipit deserunt sunt at praesentium 
                ipsam excepturi porro. Dolore, ipsa incidunt. Totam, architecto?
            </p>
        </ul>
        <ul>
            <li>
                <h1>Trabajo 3</h1> -<h3> year o resumen </h3> </li>
            <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Harum, consequuntur accusamus fugiat sapiente, nam numquam
                blanditiis officiis suscipit deserunt sunt at praesentium 
                ipsam excepturi porro. Dolore, ipsa incidunt. Totam, architecto?
            </p>
        </ul>
    </div>

</div>
